<%= form_tag("createComment", method: "post") do %>
  <div class="field">
    <%= label_tag(:textLable, "comment")%><br/>
    <%= text_area_tag(:text) %>
  </div>
  <div class="actions">
    <%= submit_tag ("comment") %>
  </div>
<% end %>
